body {
  font-family: sans-serif;
  background: #111;
  color: white;
  text-align: center;
  padding: 40px;
}
.container {
  max-width: 400px;
  margin: auto;
  background: #222;
  padding: 20px;
  border-radius: 12px;
}
input, button {
  margin-top: 10px;
  padding: 10px;
  width: 90%;
  border-radius: 6px;
  border: none;
}
button {
  background-color: #00cc88;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
